* {
  margin: 0;
  padding: 0;
  font-family: serif;
}
.wrap {
  overflow: hidden;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(22, 22, 22);
  width: 100%;
  height: auto;
}
main {
  width: 100%;
}

header {
  color: #eae7fb;
  width: 100%;
  height: 70px;
  z-index: 5;
  position: fixed;
}

.header_title {
  height: 70px;
  line-height: 70px;
  margin-left: 10vw;
  padding: 0px 10px;
  float: left;
}

.header_title h2 {
  font-size: 36px;
}

.header_menu {
  float: right;
  height: 70px;
  line-height: 70px;
}

.first_view {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background: #fff url("images/space.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: 0;
  overflow: hidden;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  display: flex;
}

.first_view:before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background: inherit;
  filter: blur(5px);
  z-index: -1;
}

.self_intro {
  min-height: 60vh;
  height: auto;
  width: 85vw;
  margin: 80px auto 60px auto;
  /* 
    margin-left: auto;
    margin-right: auto; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-image: url("images/space.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.self_intro_image {
  width: 200px;
  height: 200px;
  border-radius: 40%;
  margin: 100px 40px 10px 40px;
  background-image: url("./images/izuku_image.JPG");
  background-size: cover;
}
.self_intro_sentense {
  width: 600px;
  min-height: 60vh;
  height: auto;
  margin: 80px 40px 20px 40px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.281);
}

.self_intro_sentense h3 {
  text-align: center;
  font-size: 32px;
  display: block;
}

/* about-area */
.about_area {
  width: 100%;
  height: auto;
  position: relative;
}
.about_area h2 {
  position: absolute;
  display: block;
  top: 10px;
  left: 100px;
  color: white;
  font-size: 40px;
  padding-right: 50px;
  border-bottom: white 1px solid;
}
.about {
  height: auto;
  width: 85vw;
  margin: 150px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.izuku_image {
  background-image: url("images/uk_izuku.jpg");
  background-size: cover;
  height: 300px;
  width: 500px;
}
.izuku_about {
  min-height: 300px;
  height: auto;
  width: 500px;
  color: rgb(179, 179, 179);
  font-size: 20px;
  border-right: white 1px solid;
  padding: 20px;
}

/* product-area */
.products {
  height: auto;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.products h2 {
  font-size: 44px;
  text-align: center;
  margin-top: 10px;
  color: white;
}

.product_list {
  width: 80%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 60px auto;
}

.product {
  height: 300px;
  width: 300px;
  border: white 1px solid;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
}

.product:hover {
  background-color: rgb(202, 202, 202);
  color: rgb(14, 14, 14);
  border: black 1px solid;
}

.product_title h3 {
  font-size: 24px;
}

.product_title p {
  font-size: 16px;
  color: rgb(185, 185, 185);
}

/* skill-area */

.skills {
  width: 100%;
  height: auto;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 40px;
  background-image: url("./images/star.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.skills h1 {
  color: white;
  display: block;
  font-size: 50px;
  margin-left: 50px;
  border-bottom: 1px white solid;
}

.web_design {
  height: auto;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill {
  top: 50px;
  left: 50px;
  height: 250px;
  width: 250px;
  margin: 0px 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#skill_0 {
  border: solid 1px rgb(235, 82, 35);
}
#skill_1 {
  border: solid 1px rgb(232, 235, 35);
}
#skill_2 {
  border: solid 1px rgb(4, 156, 105);
}
#skill_3 {
  border: solid 1px rgb(31, 62, 204);
}
#skill_4 {
  border: solid 1px rgb(209, 2, 181);
}

#skill_content_0 {
  border-right: solid 2px rgb(235, 82, 35);
}
#skill_content_1 {
  border-right: solid 2px rgb(232, 235, 35);
}
#skill_content_2 {
  border-right: solid 2px rgb(4, 156, 105);
}
#skill_content_3 {
  border-right: solid 2px rgb(31, 62, 204);
}
#skill_content_4 {
  border-right: solid 2px rgb(209, 2, 181);
}

.skill h2 {
  font-size: 30px;
  border: none;
}

.skill_content {
  top: 400px;
  left: 400px;
  height: 300px;
  width: 60vw;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: greenyellow 1px solid;
}

ul {
  list-style-type: square;
}

.blog_contents {
  height: auto;
  width: 100%;
  padding: 40px 0px;
}

.blog_title {
  height: 60px;
}

.blog_title h1 {
  font-size: 40px;
  line-height: 60px;
  color: white;
  text-align: center;
  display: block;
}

.blogs {
  height: auto;
  width: 80vw;
  margin: 40px auto;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.blog {
  height: 170px;
  width: 170px;
  margin: 10px 0px;
  border-radius: 50%;
  border: white 2px dashed;
  background-color: rgb(218, 92, 9);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* contact-area */
.contact {
  height: auto;
  width: 100%;
  padding: 50px 0px;
  background-image: url("images/sky.jpg");
  background-size: cover;
}

.contact h2 {
  color: white;
  font-size: 40px;
  text-align: center;
  margin: 10px auto;
  display: block;
  border-bottom: white 1px solid;
}

.contact_form {
  height: 600px;
  width: 80%;
  background-color: rgba(11, 11, 11, 0.495);
  margin: 40px auto;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

form div {
  margin: 14pxã€€auto;
}
input {
  text-align: center;
}
label {
  margin-bottom: 10px;
  display: block;
  color: white;
  font-size: 26px;
  text-align: center;
}
textarea {
  height: 300px;
  width: 300px;
}

/* footer-area */

footer {
  height: 100px;
  border-top: white 2px dotted;
  background-color: rgb(14, 14, 14);
}
